/* styles.css */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.background {
    position: relative;
    width: 100%;
    height: 750px;
}

.delfin {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: auto; /* Ajusta el tamaño del delfín según sea necesario */
    height: 700px; /* Ajusta la altura del delfín según sea necesario */
}

.gif-container {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
    z-index: 1000;
}

.texto {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: white; /* Cambia el color del texto según sea necesario */
    font-size: 50px; /* Ajusta el tamaño de la fuente según sea necesario */
    background-color: rgba(0, 0, 0, 0.5); /* Opcional: fondo semi-transparente para el texto */
    padding: 10px; /* Opcional: espacio alrededor del texto */
    border-radius: 5px; /* Opcional: bordes redondeados */
}
